venv/
media/
.idea/
db.sqlite3
**/__pycache__/
apps/tour/migrations/0001_initial.py
apps/days/migrations/0001_initial.py
apps/guide/migrations/0001_initial.py
apps/tags/migrations/0001_initial.py
apps/impressions/migrations/0001_initial.py
apps/cancel_reservation/migrations/0001_initial.py
apps/accommodation/migrations/0001_initial.py
apps/tour_images/migrations/0001_initial.py
apps/recommendations/migrations/0001_initial.py
apps/tour_description/migrations/0001_initial.py
post.json
