venv/
media/
.idea/
db.sqlite3
**/__pycache__/
apps/tour/migrations/0001_initial.py
apps/days/migrations/0001_initial.py
apps/accommodation/migrations/0001_initial.py
apps/tour_images/migrations/0001_initial.py
apps/important_information/migrations/0001_initial.py
post.json
