django
djangorestframework
python-slugify
psycopg2-binary
Pillow
drf-yasg
django-cors-headers
python-decouple
django-filter
marshmallow

djangorestframework-simplejwt

redis-server
celery
redis

secure-smtplib
